/* color */
/* dark mode */
@media (prefers-color-scheme: light) {
    body {
      background-color: $base_white;
      color: $black;
    }
    a {
      color: $black;
    }
    #footer {
      border-color: $black;
    }
  }
  
@media (prefers-color-scheme: dark) {
    body {
      background-color: $black;
      color: $base_white;
    }
    a {
      color: $base_white;
    }
    #footer {
      border-color: $base_white;
    }
  }