/* details */

body {
    font-family: $sans-serif;
}

a{
    color: $black;
}

.image-wrapper {
    text-align: center;
}

.main-icon {
    text-align: center;
    width: 20rem;
}

#site-name a{
    text-decoration: none;
}
