/* details */

body {
    font-family: $sans-serif;
}

.image-wrapper {
    text-align: center;
}

.main-icon {
    text-align: center;
    width: 20rem;
}

#site-name a{
    text-decoration: none;
}

#footer {
    border-top-width: 0.1rem;
    border-top-style: solid;
}

.copyright {
    font-size: 0.9rem;
}