/* details */

body {
    font-family: $sans-serif;
}

figure {
    text-align: center;
}

figcaption {
    font-size: 0.9em;
    opacity: 0.8;
    padding-bottom: 1.2rem;
}

.main-icon {
    width: 20rem;
}

#site-name a{
    text-decoration: none;
}

#footer {
    border-top-width: 0.1rem;
    border-top-style: solid;
}

.copyright {
    font-size: 0.9rem;
}